<div class="wrapper">
  <header class="header">Header</header>
  <footer class="footer">Footer</footer>
</div>

<div class="dash-wrapper">
  <div class="left-col side">
    <span>left one</span>
    <span>left one</span>
    <span>left one</span>
    <span>left one</span>
    <span>left one</span>
  </div>
  <div class="multi-spacers">
    <app-single-line></app-single-line>
    <app-single-line></app-single-line>
  </div>
  <div class="center-col main">
    <div class="col-wrapper">
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
    </div>
    <app-single-line></app-single-line>
    <div class="col-wrapper">
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
    </div>
    <div class="multi-spacers">
      <app-single-line></app-single-line>
      <app-vert-line></app-vert-line>
    </div>
    <div class="col-wrapper">
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
    </div>
  </div>
  <app-single-line></app-single-line>
  <div class="right-col side">
    <span>right one</span>
    <span>right one</span>
    <span>right one</span>
    <span>right one</span>
    <span>right one</span>
  </div>
</div>

<hr class="horiz-line" />

<div class="dash-wrapper">
  <div class="left-col side">
    <span>left one</span>
    <span class="ray-A ray-A-right">left one</span>
    <span>left one</span>
    <span>left one</span>
    <span>left one</span>
  </div>
  <div class="center-col main">
    <div class="col-wrapper">
      <span>center one</span>
      <span class="ray-A ray-A-left ray-B ray-B-right">center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
    </div>
    <div class="col-wrapper">
      <span>center one</span>
      <span class="ray-B ray-B-left ray-C ray-C-right">center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
    </div>
    <div class="col-wrapper">
      <span>center one</span>
      <span class="ray-C ray-C-left">center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
      <span>center one</span>
    </div>
  </div>
  <hr class="ray-D" />
  <div class="right-col side">
    <span>right one</span>
    <span>right one</span>
    <span>right one</span>
    <span>right one</span>
    <span>right one</span>
  </div>
</div>
